<form class="ui stacked segment form" action="/{{team._id}}/viewFund/addFundChecklist/{{fund._id}}" method="POST"
      style="background-color: #F5C0EF; border: 3px solid white;">
  <div class="field">
    <div class="ui calendar" id="date_calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" placeholder="Checklist Date" name="checklistdate">
      </div>
    </div>
    <br>
    <select name="type" class="ui fluid dropdown" id="type">
      <option value="">Select Checklist Type</option>
      {{#each checklists}}
        <option value={{_id}}>{{checklistname}}</option>
      {{/each}}
    </select>
  </div>
  <button id="submitButton" class="tiny ui blue submit animated button">
    <div class="visible content">Add Fund Checklist</div>
    <div class="hidden content">Are you sure?</div>
  </button>
</form>
<button id="backButton" class="tiny ui orange submit button">
    <div class="visible content"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</div>
</button>

<script>
    $('#type').dropdown();

    document.getElementById("backButton").onclick = function () {
        window.location.href = "/dashboard/{{{team._id}}}/viewTeam";
    };

    $('#date_calendar')
      .calendar({
        type: 'date'
      })
    ;
</script>