<div class="ui segment" style="border: 3px solid #043F8C;">
    <div class="card" id="cardStyle"><h2>{{checklist.checklistname}}</h3>
    </div>
    <div class="card" id="cardStyle"><h4>No of Reviewers</h2>
      {{checklist.reviewers}}
    </div>
    <div class="ui list" id="cardStyle"><h4>Checklist Details</h2>
      {{#each checklist.items}}
      <div class="ui list">
      {{#if header}}
      <h3>{{title}}</h3>
      {{else}}
      {{title}}
      {{/if}}
      </div>
      {{/each}}
    </div>
    <br>
</div>