<form class="ui stacked segment form" action="/viewFund/{{fund._id}}/editFundChecklist/{{fundchecklist._id}}" method="POST"
      style="background-color: #C9E5F0; border: 3px solid white;">
<table class="ui table">
  <thead>
  <tr>
    <th>Checklist Item</th>
    <th>Prepared By
        {{#eq fundchecklist.preparer.userid "No Preparer"}}
    <a href="/viewFund/{{fund._id}}/editFundChecklist/{{fundchecklist._id}}/preparerSignOff">
        Click to sign off <i id="check" class="fa-solid fa-circle-check" style="font-size:20px;color:rgb(17, 145, 104);"></i></a>
        {{else}}
        <a href="/viewFund/{{fund._id}}/editFundChecklist/{{fundchecklist._id}}/removePreparerSignOff">
        {{fundchecklist.preparer.firstname}} {{fundchecklist.preparer.lastname}} <i id="xmark" class="fa-solid fa-circle-xmark" style="font-size:20px;color:red;"></i>
        {{/eq}}
    </th>
    <th>1st Review
        {{#eq fundchecklist.firstReview.userid "No 1st Reviewer"}}
    <a href="/viewFund/{{fund._id}}/editFundChecklist/{{fundchecklist._id}}/firstReviewSignOff">
        Click to sign off <i id="check" class="fa-solid fa-circle-check" style="font-size:20px;color:rgb(17, 145, 104);"></i>
        {{else}}
        <a href="/viewFund/{{fund._id}}/editFundChecklist/{{fundchecklist._id}}/removeFirstReviewSignOff">
        {{fundchecklist.firstReview.firstname}} {{fundchecklist.firstReview.lastname}} <i id="xmark" class="fa-solid fa-circle-xmark" style="font-size:20px;color:red;"></i>
        {{/eq}}
    </a>
    </th>
    {{#eq fundchecklist.reviewers "2"}}
    <th>2nd Review
        {{#eq fundchecklist.secondReview.userid "No 2nd Reviewer"}}
    <a href="/viewFund/{{fund._id}}/editFundChecklist/{{fundchecklist._id}}/secondReviewSignOff">
        Click to sign off <i id="check" class="fa-solid fa-circle-check" style="font-size:20px;color:rgb(17, 145, 104);"></i>
        {{else}}
        <a href="/viewFund/{{fund._id}}/editFundChecklist/{{fundchecklist._id}}/removeSecondReviewSignOff">
        {{fundchecklist.secondReview.firstname}} {{fundchecklist.secondReview.lastname}} <i id="xmark" class="fa-solid fa-circle-xmark" style="font-size:20px;color:red;"></i>
        {{/eq}}
    </a>
    </th>
    {{/eq}}
  </tr>
  </thead>
  <tbody>
  {{#each fundchecklist.items}}
    <tr>
      <td>
        {{#if header}}
            <h3>{{title}}</h3>
        {{else}}
            {{title}}
        {{/if}}
      </td>
      {{#unless header}}
      <td>
        <div class = "font-awesome">
            <select class="fa" name="Preparer value {{_id}}" class="ui fluid dropdown" id="defaultvalue">
                {{#eq preparer "Checked"}}
                <option class="fa" value="Checked" selected="selected">&#xf00c</option>
                <option value="N/A">N/A</option>
                {{/eq}}
                {{#eq preparer "N/A"}}
                <option class="fa" value="Checked">&#xf00c</option>
                <option value="N/A" selected="selected">N/A</option>
                {{/eq}}
            </select>
        </div>
      </td>
      {{/unless}}
      {{#unless header}}
      <td>
        <div class = "font-awesome">
            <select class="fa" name="1st Reviewer value {{_id}}" class="ui fluid dropdown" id="defaultvalue">
                {{#eq firstReview "Checked"}}
                <option class="fa" value="Checked" selected="selected">&#xf00c</option>
                <option value="N/A">N/A</option>
                {{/eq}}
                {{#eq firstReview "N/A"}}
                <option class="fa" value="Checked">&#xf00c</option>
                <option value="N/A" selected="selected">N/A</option>
                {{/eq}}
            </select>
        </div>
      </td>
      {{/unless}}
      {{#eq ../fundchecklist.reviewers "2"}}    
      {{#unless header}}
      <td>
        <div class = "font-awesome">
            <select class="fa" name="2nd Reviewer value {{_id}}" class="ui fluid dropdown" id="defaultvalue">
                {{#eq secondReview "Checked"}}
                <option class="fa" value="Checked" selected="selected">&#xf00c</option>
                <option value="N/A">N/A</option>
                {{/eq}}
                {{#eq secondReview "N/A"}}
                <option class="fa" value="Checked">&#xf00c</option>
                <option value="N/A" selected="selected">N/A</option>
                {{/eq}}
            </select>
        </div>
      </td>
      {{/unless}}
      {{/eq}}
    </tr>
  {{/each}}
  </tbody>
</table>
  <button id="submitButton" class="tiny ui blue submit animated button">
    <div class="visible content">Save Checklist</div>
    <div class="hidden content">Are you sure?</div>
  </button>
</form>

<script>
  $('#defaultvalue').dropdown();
  .font-awesome .fa {
    font-family:monospace,monospace;
}
</script>