<form class="ui stacked segment form" action="/userAdmin/editUser/{{user._id}}" method="POST"
      style="background-color: #F5C0EF; border: 3px solid black;">
  <div class="field">
    <label>Change First Name</label>
    <input value="{{user.firstname}}" type="text" name="firstname" autocomplete="off">
    <label>Last Name</label>
    <input value="{{user.lastname}}" type="text" name="lastname" autocomplete="off">
    <label>Email</label>
    <input value="{{user.email}}" type="text" name="email" autocomplete="off">
    <label>Password</label>
    <input value="{{user.password}}" type="password" name="password" autocomplete="off">
    <label>Role</label>
    <select name="role" class="ui fluid dropdown" id="role">
    <option value="">Select role</option>
      <option value="Preparer" {{#eq user.role "Preparer"}}selected="selected"{{/eq}}>Preparer</option>
      <option value="Reviewer" {{#eq user.role "Reviewer"}}selected="selected"{{/eq}}>Reviewer</option>
    </select>
    <label>Is Admin?</label>
    <select name="admin" class="ui fluid dropdown" id="admin">
    <option value="">Is Admin?</option>
      <option value="Yes" {{#if user.admin}}selected="selected"{{/if}}>Yes</option>
      <option value="No" {{#unless user.admin}}selected="selected"{{/unless}}>No</option>
    </select>
    <label>Teams</label>
    <select name="teams" multiple="" class="ui fluid dropdown" id="teams">
    <option value="">Add Team(s)</option>
    {{#each teams}}
        <option value={{_id}}>{{teamname}}</option>
    {{/each}}
    </select>
  </div>
  <button id="submitButton" class="tiny ui black submit animated button">
    <div class="visible content">Save changes</div>
    <div class="hidden content">Are you sure?</div>
  </button>
</form>
<button id="backButton" class="tiny ui gray submit button">
    <div class="visible content"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</div>
</button>

<script>
    $('#teams').dropdown();
    $('#role').dropdown();
    $('#admin').dropdown();

    document.getElementById("backButton").onclick = function () {
        window.location.href = "/userAdmin";
    };
</script>