<div class="ui accordion" style="border: 3px solid black; padding: 10px; background-color: white; border-radius: 5px">
    <div class="title" style="cursor: default;">
    <i class="dropdown icon" style="cursor: default;"></i> 
    <h3 class="header" style="display: inline; cursor: pointer">{{fundname}}  </h3>
    <h3 data-tooltip="Edit" data-position="top left" data-inverted="" style="display: inline"><a href="/fundAdmin/{{_id}}/editFund"><i class="fas fa-edit" data-variation="inverted" style="cursor: zoom-in;"></i></a></h3>
    <h3 data-tooltip="Delete" data-position="top left" data-inverted="" style="display: inline"><a href="/fundAdmin/deleteFund/{{_id}}"><i class="fa fa-trash" data-variation="inverted" style="cursor: pointer; color: red;"></i></a></h3>
    </div>
    <div class="content">
    <div class="card" id="cardStyle"><h4>Year End</h2>
      {{yearend}}
    </div>
    <br>
    <a href="/fundAdmin/{{_id}}/editFund">
          <div id="editButton" class="tiny black ui animated button" tabindex="0">
            <div class="visible content">Edit Fund</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    <a href="/fundAdmin/deleteFund/{{_id}}">
          <div id="deleteButton" class="tiny red ui animated button" tabindex="0">
            <div class="visible content">Delete Fund</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    </div>
</div>

<script>
  $('.ui.accordion')
  .accordion({
    selector: {
      trigger: '.title .header'
    }
  })
;
</script>