{{#each fundchecklists}}
{{#eq status "Completed"}}
<div class="ui accordion" style="border: 3px solid black; padding: 10px; background-color: white; border-radius: 5px; background-color: rgb(207, 228, 207)">
  {{else}}
<div class="ui accordion" style="border: 3px solid black; padding: 10px; background-color: white; border-radius: 5px; background-color: rgb(245, 167, 163)">
{{/eq}}
    <div class="title" style="cursor: default;">
    <i class="dropdown icon" style="cursor: default;"></i> 
    <h3 class="header" style="display: inline; cursor: pointer">{{checklistname}} - {{checklistdate}}</h3>
    <h3 data-tooltip="Edit/Sign-Off" data-position="top left" data-inverted="" style="display: inline"><a href="/{{../team._id}}/viewFund/{{../fund._id}}/editFundChecklist/{{_id}}"><i class="fas fa-edit" data-variation="inverted" style="cursor: zoom-in;"></i></a></h3>
    <h3 data-tooltip="Delete" data-position="top left" data-inverted="" style="display: inline"><a href="/{{../team._id}}/viewFund/{{../fund._id}}/deleteFundChecklist/{{_id}}"><i class="fa fa-trash" data-variation="inverted" style="cursor: pointer; color: red;"></i></a></h3>
    </div>
    <div class="content">
    {{#eq preparer.userid "No Preparer"}}
    <div class="card" id="cardStyle"><h4 style="display: inline;">Preparer: </h4>
      {{preparer.userid}}
    </div>
    {{else}}
    <div class="card" id="cardStyle"><h4 style="display: inline;">Preparer: </h4>
      {{preparer.firstname}} {{preparer.lastname}}
    </div>
    {{/eq}}

    {{#eq firstReview.userid "No 1st Reviewer"}}
    <div class="card" id="cardStyle"><h4 style="display: inline;">1st Review: </h4>
      {{firstReview.userid}}
    </div>
    {{else}}
    <div class="card" id="cardStyle"><h4 style="display: inline;">1st Review: </h4>
      {{firstReview.firstname}} {{firstReview.lastname}}
    </div>
    {{/eq}}

    {{#eq reviewers "2"}}
    {{#eq secondReview.userid "No 2nd Reviewer"}}
    <div class="card" id="cardStyle"><h4 style="display: inline;">2nd Review: </h4>
      {{secondReview.userid}}
    </div>
    {{else}}
    <div class="card" id="cardStyle"><h4 style="display: inline;">2nd Review: </h4>
      {{secondReview.firstname}} {{secondReview.lastname}}
    </div>
    {{/eq}}
    {{/eq}}

    <br>
    <div class="card" id="cardStyle"><h4 style="display: inline;">Status: </h4>
      {{status}}
    </div>
    <br>
    <a href="/{{../team._id}}/viewFund/{{../fund._id}}/editFundChecklist/{{_id}}">
          <div id="editButton" class="tiny black ui animated button" tabindex="0">
            <div class="visible content">Edit Checklist</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    <a href="/{{../team._id}}/viewFund/{{../fund._id}}/deleteFundChecklist/{{_id}}">
          <div id="deleteButton" class="tiny red ui animated button" tabindex="0">
            <div class="visible content">Delete Checklist</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    </div>
</div>
<br>
{{/each}}

<script>
  $('.ui.accordion')
  .accordion({
    selector: {
      trigger: '.title .header'
    }
  })
;

  $('.title')
  .popup({
    hoverable  : true,
  })
;
</script>