<div class="ui two column grid basic segment">
<div class="column">
<div class="ui segment" style="border: 3px solid black;">
    <div class="card" id="cardStyle"><h2>{{fundname}}</h3>
    </div>
    <div class="card" id="cardStyle"><h4>Year End</h2>
      {{yearend}}
    </div>
    <br>
    <a href="/{{teamid}}/viewFund/{{_id}}/addFundChecklist">
        <div id="addButton" class="tiny black ui animated button" tabindex="0">
            <div class="visible content">Add/Sign Off Checklists</div>
            <div class="hidden content">Are you sure?</div>
        </div>
    </a>
</div>
<button id="backButton{{_id}}" class="tiny ui gray submit button">
    <div class="visible content"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</div>
</button>
</div>
<div class="column">
   <div class="ui segment" style="border: 3px solid black;">
  <canvas id="{{_id}}" style="width:100%;max-width:700px"></canvas>
    </div>
</div>
</div>
<br>

<script>
var xValues = ["Completed","Incomplete"];
var yValues = ["{{{completedFundChecklists}}}","{{{incompleteFundChecklists}}}"];
var barColors = [
  "#0DF205",
  "#BEBEC0",
];

new Chart("{{{_id}}}", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "{{{fundname}}} Checklist Summary"
    }
  }
});

    $('#type').dropdown();

    document.getElementById("backButton{{{_id}}}").onclick = function () {
        window.location.href = "/dashboard";
    };
</script>