<div class="ui segment" style="border: 3px solid #043F8C;">
    <div class="card" id="cardStyle"><h2>{{name}}</h3>
    </div>
    <div class="card" id="cardStyle"><h4>Location</h2>
      {{location}}
    </div>
    <div class="card" id="cardStyle"><h4>Fund(s)</h2>
    {{#each funds}}
      <li>{{fundname}}</li>
    {{/each}}
    </div>
    <br>
    <a href="/teamAdmin/deleteTeam/{{_id}}">
          <div id="deleteButton" class="tiny red ui animated button" tabindex="0">
            <div class="visible content">Delete Team</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    <a href="teamAdmin/{{_id}}/editTeam">
          <div id="editButton" class="tiny green ui animated button" tabindex="0">
            <div class="visible content">Edit Team</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
</div>