<div class="ui accordion" style="border: 3px solid #043F8C; padding: 10px; background-color: white; border-radius: 5px">
    <div class="title" style="cursor: default;">
    <i class="dropdown icon" style="cursor: default;"></i> 
    <h3 class="header" style="display: inline; cursor: pointer">{{teamname}}  </h3>
    <h3 style="display: inline"><a href="/teamAdmin/{{_id}}/editTeam"><i class="fas fa-edit" style="cursor: zoom-in;"></i></a></h3>
    </div>
    <div class="content">
    <div class="card" id="cardStyle"><h4>Location</h2>
      {{location}}
    </div>
    <br>
    <div class="card" id="cardStyle"><h4>Department</h2>
      {{department}}
    </div>
    <br>
    <div class="card" id="cardStyle"><h4>Fund(s)</h2>
      {{#each funds}}
        {{fundname}}<br>
      {{/each}}
    </div>
    <br>
    <a href="/teamAdmin/{{_id}}/editTeam">
          <div id="editButton" class="tiny green ui animated button" tabindex="0">
            <div class="visible content">Edit Team</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    <a href="/teamAdmin/deleteTeam/{{_id}}">
          <div id="deleteButton" class="tiny red ui animated button" tabindex="0">
            <div class="visible content">Delete Team</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    </div>
</div>

<script>
  $('.ui.accordion')
  .accordion({
    selector: {
      trigger: '.title .header'
    }
  })
;
</script>