<div class="ui two column grid basic segment">
<div class="column">
<div class="ui segment" style="border: 3px solid #043F8C;">
    <div class="card" id="cardStyle"><h2>{{teamname}}</h3>
    </div>
    <div class="card" id="cardStyle"><h4>Location</h2>
      {{location}}
    </div>
    <div class="card" id="cardStyle"><h4>Fund(s)</h2>
    {{#each funds}}
      <li>{{fundname}}</li>
    {{/each}}
    </div>
<br>
<a href="/dashboard/{{_id}}/viewTeam">
  <div id="addButton" class="tiny black ui animated button" tabindex="0">
      <div class="visible content">View Funds</div>
      <div class="hidden content">Are you sure?</div>
  </div>
</a>
</div>
</div>
<div class="column">
  <div class="ui segment" style="border: 3px solid #043F8C;">
  <canvas id="{{_id}}" style="width:100%;max-width:700px"></canvas>
  </div>
</div>
</div>
<br>

<script>
var xValues = ["Completed","Incomplete"];
var yValues = ["{{{completedFundChecklists}}}","{{{incompleteFundChecklists}}}"];
var barColors = [
  "#0DF205",
  "#BEBEC0",
];

new Chart("{{{_id}}}", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "{{{teamname}}} Checklist Summary"
    }
  }
});
</script>