<div class="ui accordion" style="border: 3px solid #043F8C; padding-left: 10px; padding-bottom: 10px; background-color: white; border-radius: 5px">
      <div class="title">
      <i class="dropdown icon"></i> 
      <h3 class="header" style="display: inline">{{firstname}} {{lastname}}  </h3>
      <h3 style="display: inline"><a href="/userAdmin/{{_id}}/editUser"><i class="fas fa-edit"></i></a></h3>
    </div>
    <div class="content">
      <div class="card" id="cardStyle"><h4>Role</h4>
      {{role}}
    </div>
    <br>
    <div class="card" id="cardStyle"><h4>Team(s)</h4>
    {{#each teams}}
      {{teamname}}
    {{/each}}
    </div>
    <br>
    <div class="card" id="cardStyle"><h4>Email Address</h4>
      {{email}}
    </div>
    <br>
    <div class="card" id="cardStyle"><h4>Is Admin?</h4>
      {{#if admin}}Yes
      {{else}}No
      {{/if}}
    </div>
    <br>
    <a href="/userAdmin/deleteUser/{{_id}}">
          <div id="deleteButton" class="tiny red ui animated button" tabindex="0">
            <div class="visible content">Delete User</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    <a href="/userAdmin/{{_id}}/editUser">
          <div id="editButton" class="tiny green ui animated button" tabindex="0">
            <div class="visible content">Edit User</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    </div>
</div>

<script>
  $('.ui.accordion')
  .accordion({
    selector: {
      trigger: '.title .header'
    }
  })
;
</script>