<div class="ui styled accordion" style="border: 3px solid #043F8C;">
      <div class="title">
      <i class="dropdown icon"></i> 
      <h2 style="display: inline">{{firstname}} {{lastname}}</h2>
      <h2 style="display: inline"><a href="/userAdmin/{{_id}}/editUser"><i class="fas fa-edit"></i></a></h2>
    </div>
    <div class="content">
      <div class="card" id="cardStyle"><h4>Role</h4>
      {{role}}
    </div>
    <div class="card" id="cardStyle"><h4>Team(s)</h4>
    {{#each teams}}
      <li>{{teamname}}</li>
    {{/each}}
    </div>
    <br>
    <a href="/userAdmin/deleteUser/{{_id}}">
          <div id="deleteButton" class="tiny red ui animated button" tabindex="0">
            <div class="visible content">Delete User</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    <a href="/userAdmin/{{_id}}/editUser">
          <div id="editButton" class="tiny green ui animated button" tabindex="0">
            <div class="visible content">Edit User</div>
            <div class="hidden content">Are you sure?</div>
          </div>
    </a>
    </div>
</div>

<script>
  $('.ui.accordion')
  .accordion({
    selector: {
      trigger: '.title .icon .h2'
    }
  })
;
</script>